<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="<%= webpackConfig.output.filename %>"></script>
  </head>
  <body ng-app="pomodoro">
    <div class="container">
      <main ng-controller="PomodoroController">
        <div class="row">
          <div class="col s12 center-align">
            <h4>freeCodeCamp</h4>
            <hr>
            <h5>Pomodoro Clock</h5>
          </div>
        </div>
        <div class="row">
          <div class="col s10 offset-s1 center-align">
            <div class="col s12 m6">
              <div class="col s12">
                <p id="break-label">BREAK LENGTH</p>
              </div>
              <div class="col s4">
                <a id="break-decrement" ng-disabled="clockStarted" ng-click="decNum(breakNum, 'break')" class="waves-effect waves-light btn"><i class="material-icons">remove</i></a>
              </div>
              <div class="col s4">
                <h5 id="break-length" ng-model="breakDisp">{{ breakDisp }}</h5>
              </div>
              <div class="col s4">
                <a id="break-increment" ng-disabled="clockStarted" ng-click="incNum(breakNum, 'break')" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="col s12">
                <p id="session-label">SESSION LENGTH</p>
              </div>
              <div class="col s4">
                <a id="session-decrement" ng-disabled="clockStarted" ng-click="decNum(sessionNum, 'session')" class="waves-effect waves-light btn"><i class="material-icons">remove</i></a>
              </div>
              <div class="col s4">
                <h5 id="session-label" ng-model="sessionDisp">{{ sessionDisp }}</h5>
              </div>
              <div class="col s4">
                <a id="session-increment" ng-disabled="clockStarted" ng-click="incNum(sessionNum, 'session')" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <div class="row center-align">
            <div class="col s12">
              <h4><span id="timer-label" ng-model="resDispText">{{ resDispText }}</span><span id="time-left" ng-model="resDispNum">{{ resDispNum }}</span></h4>
            </div>
            <div class="col s12">
              <div class="progress">
                <div class="determinate {{ progressColor }}" style="width: {{ progressBar }}%"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <a id="start" ng-disabled="clockStarted && !clockPaused" ng-click="start(sessionNum, 'session')" class="waves-effect waves-light btn"><i class="material-icons left">timer</i>START</a>
              <a id="stop" ng-disabled="!clockStarted || clockPaused" ng-click="stop()" class="waves-effect waves-light btn"><i class="material-icons left">stop</i>STOP</a>
            </div>
          </div>
          <div class="row">
            </div>
            <div class="col s12 center-align">
              <a id="reset" ng-disabled="!clockStarted" ng-click="reset()" class="waves-effect waves-light btn"><i class="material-icons left">timer_off</i>RESET</a>
            </div>
            <audio id="beep" preload="auto" src="https://goo.gl/65cBl1"></audio>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <p>Designed & coded by David Teoran</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
